@import "../fonts";

.balanceContainer {
  max-width: 600px;
}

.balanceText {
  font-size: $font-size-heading;
  text-align: start;
}

.tableContainer {
  max-width: 800px;
}

.table{
  width: 300px;
  text-align: left;
  // height: 1000px;
}

.stockprice {
  text-align: left;
}