@media only screen and (max-width: 600px) {
  /* HOME */
  #home {
    padding: 0;
  }

  .home-content {
    padding: 5px;
    align-items: center;
  }

  .home-content > div {
    width: 100% !important;
  }

  div.user-info {
    width: 100% !important;
  }

  /* INSTRUCTIONS */
  .guide-container::after {
    display: none !important;
  }

  /* PORTFOLIO */
  .portfolio-container {
    font-size: 1em;
  }

  .portfolio-container canvas {
    width: 320px !important;
    height: 200px !important;
  }

  .card .card-body > div {
    padding: 5px;
    font-size: 0.9em;
  }

  /* TRADE */
  .trade-container {
    font-size: 1em !important;
  }

  .trade-container canvas {
    display: none !important;
  }

  .card .card-body {
    font-size: 0.9em;
    padding: 0.5rem;
  }

  .card-head h2 {
    font-size: 1.6em;
  }
}

@media (max-width: 992px) {
  .guide-container {
    height: auto !important;
  }

  #home {
    height: 100%;
  }

  .portfolio-container .portfolio-top-wrapper {
    display: block !important;
  }

  .portfolio-top-wrapper .user-info {
    margin: 10px auto 0 auto !important;
  }

  .trade-container canvas {
    height: 400px !important;
    width: 670px !important;
  }
}
