/**
 * Fonts
 */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

$font-stack: "Ubuntu", "Roboto", sans-serif;
$font-stack-code: "Ubuntu Mono", "Roboto Mono", monospace;

$font-size-heading: 33px;
$font-size-body: 17px;
$font-size-banner: 22px;
$font-size-footer: 16px;

$font-weight-heading: 700;
