/**
 * Global stylesheet.
 *
 * Changes made here affect all styles in the app.
 */

@import "colors";
@import "fonts";

* {
  font-family: $font-stack;
  font-size: $font-size-body;

  margin: 0;

  color: $color-text;
}

h1,
h2,
h3,
h4 {
  font-size: $font-size-heading;
  font-weight: $font-weight-heading;
}

h1 {
  font-size: $font-size-heading;
  padding-bottom: 50px;
}

h2 {
  font-size: $font-size-heading * 0.75;
  padding-bottom: 25px;
}

a {
  color: $color-accent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  margin: 5px;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $color-text;
  }

  th {
    color: $color-primary;
    text-align: start;
  }

  th,
  td {
    padding: 10px;
    min-width: 100px;
  }
}
